<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Courses</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

<main>
<h1>My courses</h1>

{% if courses %}
    {% for course in courses %}
        <div class="card">

            <h2>{{ course.name }}</h2>

            <a class="button" href="/api/v1/student/courses/{{ course.id }}/units">
                Enter Course
            </a>

        </div>
    {% endfor %}

{% else %}

    <p>No courses.</p>

{% endif %}
</main>
</body>
</html>
