<!DOCTYPE html>
<html>
<head>
    <title>Units</title>
</head>

<style>

    .card{
            background: white;
            padding: 15px;
            width: 240px;
            border: 1px solid #e0e0e0;
            border-radius: 6px;
        }

</style>

<body>

<h1>Course Units</h1>

{% for unit in course.units %}

    <div class="card">

        <h3>{{ unit.title }}</h3>

        <a href="/student/units/{{ unit.id }}/lessons">
            View Lessons
        </a>

    </div>
                                           
{% endfor %}

</body>
</html>
