<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<style>

 .card{
            background: white;
            padding: 15px;
            width: 240px;
            border: 1px solid #e0e0e0;
            border-radius: 6px;
        }
</style>

<h1>Admin Dashboard</h1>
<div  class="card">
   <h2>Students in 10th grade </h2>

{% for student in students %}
    <p>{{ student.id }} - {{ student.name }}</p>
{% endfor %}

</div>

<!--<form action="/admin/students" method="post" class ="card">-->
<!--    <input type="text" name="student_name" placeholder="Student name" required>-->
<!--    <button type="submit">Add Student</button>-->
<!--</form>-->

<form action="/api/v1/admin/students/delete" method="post" class = "card">
    <input type="number" name="student_id" placeholder="Student ID" required>
    <button type="submit">Delete Student</button>
</form>

<h2>Courses</h2>

<div  class="card">
     <a href="/api/v1/admin/courses">Courses</a>
</div>

<div class = "card">
 <a href="/api/v1/auth/signout">Sign Out</a>
</div>



</body>
</html>
